<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NBear" version="17.1.0.2" targetFramework="net40" />
  <package id="OGT.Common.DbLogin" version="17.1.0.1" targetFramework="net40" />
  <package id="OGT.Common.Extension" version="17.1.0.1" targetFramework="net40" />
  <package id="OGT.Entity" version="17.1.2.1" targetFramework="net40" />
  <package id="OGT.Entity.DbHelper" version="17.1.0.1" targetFramework="net40" />
  <package id="OGT.Lic" version="17.1.0.1" targetFramework="net40" />
  <package id="Oracle.ManagedDataAccess" version="12.1.022" targetFramework="net40" />
</packages>